/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    background-color: #F7F7F7;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    font-family: 'Poppins' !important;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
}

.bg-light {
    background-color: transparent !important;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 60px 0px 0px 0px;
}

.logo_mobile {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}

.mobile_menu {
    width: 100%;
    float: left;
    display: none;
}

.mobile_menu_2 {
    width: 100%;
    float: left;
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav {
    align-items: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.menu_main {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

.menu_main li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 40px;
}

.menu_main li a {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu_main li a:hover {
    color: #ffffff;
    background-color: #2b2278;
}

.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.header_main {
    width: 100%;
    background-image: url(../images/header-bg.png);
    background-size: 100%;
    padding: 10px 0px 0px 0px;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 305px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', Regular;
}

.banner_text {
    width: 63%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.read_bt {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #141414;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: 400;
}

.read_bt a:hover {
    background-color: #2b2278;
    color: #ffffff;
}


/* banner section end */


/* services section start */

.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.services_section_blue {
    width: 100%;
    float: left;
    margin-top: -220px;
}

.services_logo {
    max-width: 160px;
    height: 15px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    z-index: 1;
}

.services_form {
    margin: 0 auto;
    max-width: 1272px;
    max-height: 495px;
    margin-top: -250px;
    position: relative;
    z-index: 1;
    border: 1px solid #DADDDE;
border-radius: 8px;
opacity: 1;
backdrop-filter: blur(21px);
-webkit-backdrop-filter: blur(21px);
}

.services_section_header {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: 724px;
}

.service_gold_left_mobile {
    max-width: 39px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 70px;
    z-index: 1;
}

.service_gold_left {
    max-width: 49px;
    height: 34px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.service_kulce_left_mobile {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 100px;
    z-index: 1;
    left: 30px;
}

.service_kulce_left {
    max-width: 228px;
    height: 298px;
    position: absolute;
    top: 200px;
    z-index: 1;
    left: -145px;
}

.service_gold_right_mobile {
    max-width: 26px;
    height: 29px;
    position: absolute;
    top: 130px;
    z-index: 1;
    right: 60px;
}

.service_gold_right {
    max-width: 36px;
    height: 39px;
    position: absolute;
    top: 50px;
    z-index: 1;
    right: -50px;
}

.service_kulce_right_mobile {
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    top: 220px;
    z-index: 1;
    right: 5px;
}

.service_kulce_right {
    max-width: 344px;
    height: 449px;
    position: absolute;
    top: 180px;
    z-index: 1;
    right: -200px;
}

.service_title_top {
    max-width: 1134px;
    height: 67px;
    font-weight: 600;
    font-size: 48px;
    color: #2A2B23;
    position: absolute;
    top: 350px;
    z-index: 1;
}
.service_title_top_2 {
    max-width: 670px;
    height: 404px;
    font-size: 48px;
    color: #2A2B23;
    position: absolute;
    left: 50px;
    right: 0;
    margin: 0 auto;
    top: 450px;
    z-index: 1;
}

.service_title_top_mobile {
    max-width: 290px;
    height: 67px;
    font-weight: 600;
    font-size: 12px;
    color: #2A2B23;
    position: relative;
    top: 110px;
    z-index: 1;
    margin: 0 auto;
}
.service_title_top_2_mobile {
    max-width: 170px;
    height: 404px;
    font-size: 13px;
    color: #2A2B23;
    position: absolute;
    left: 0px;
    right: 0;
    margin: 0 auto;
    top: 200px;
    z-index: 1;
}

.service_sifirbir {
    font-size: 698px;
    color: #F4F4F3;
    text-align: center;
    font-weight: bold;
    height: 977px;
    margin-top: -300px;
    width: 100%;
}

.service_sifirbir_mobile {
    font-size: 190px;
    color: #F4F4F3;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: relative;
    top: -90px;
}

.services_account_list {
    width: 100%;
    height: 51px;
    margin-bottom: 32px;
    font-size: 36px;
    text-align: center;
    color: #5770EA;
    font-weight: bold;
}

.services_taital {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.services_taital_2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.services_taital_3 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    padding-top: 54px;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
}

.services_section_2 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.services_section_3 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.services_section_4 {
    width: 100%;
    margin-top: 30px;
}

.services_section_5 {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.services_section_6 {
    width: 100%;
    float: left;
}

.services_section_7 {
    width: 100%;
    margin-top: 30px;
}

.services_img_icon_1 {
    max-width: 120px;
    float: right;
    margin-top: -20px;
}
.services_img_1 {
    max-width: 400px;
    height: 300px;
    background-color: #5770EA;
    border-radius: 8px;
    color: #FFFFFF;
}
.service_title_1 {
    margin: 26px;
    font-weight: 800;
    word-spacing: 400px;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 48px;
}
.services_img_icon_2 {
    max-width: 120px;
    float: right;
    margin-top: -20px;
}
.services_img_2 {
    max-width: 400px;
    height: 300px;
    background-color: #0097D6;
    border-radius: 8px;
    color: #FFFFFF;
}
.service_title_2 {
    margin: 26px;
    font-weight: 800;
    word-spacing: 400px;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 48px;
}
.services_img_icon_3 {
    max-width: 120px;
    float: right;
    margin-top: -20px;
}
.services_img_3 {
    max-width: 400px;
    height: 300px;
    background-color: #17ADA1;
    border-radius: 8px;
    color: #FFFFFF;
}
.service_title_3 {
    margin: 26px;
    font-weight: 800;
    word-spacing: 400px;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 48px;
}

.services_img_yellow_left {
    height: 709px;
    background-image: url(../images/sari-kutu-sol.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.services_phone_1 {
    max-width: 471px;
    height: 581px;
    position: absolute;
    left: -225px;
    top: 250px;
    z-index: 1;
}

.services_img_yellow_right {
    height: 709px;
    background-image: url(../images/sari-kutu-sag.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.services_phone_2 {
    max-width: 326px;
    height: 544px;
    position: absolute;
    right: -170px;
    top: 30px;
}

.services_phone_mobile_1 {
    position: relative;
    left: 0px;
    top: 40px;
    z-index: 1;
}

.services_phone_mobile_2 {
    position: relative;
    right: -40px;
    top: -20px;
    z-index: 1;
}


.services_blue_1 {
    max-width: 400px;
    height: 470px;
    background-color: #234A90;
    border-radius: 8px;
    color: #FFFFFF;
}
.services_icon_blue_1 {
    max-width: 79px;
    height: 77px;
    float: right;
    position: absolute;
    right: 61px;
    top: 51px;
}
.service_title_blue_1 {
    margin: 26px;
    font-weight: 800;
    word-spacing: 400px;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 176px;
}
.services_blue_2 {
    max-width: 400px;
    height: 470px;
    background-color: #234A90;
    border-radius: 8px;
    color: #FFFFFF;
}
.services_icon_blue_2 {
    max-width: 48px;
    height: 75px;
    float: right;
    position: absolute;
    right: 61px;
    top: 51px;
}
.service_title_blue_2 {
    margin: 26px;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 176px;
}
.services_blue_3 {
    max-width: 400px;
    height: 470px;
    background-color: #234A90;
    border-radius: 8px;
    color: #FFFFFF;
}
.services_icon_blue_3 {
    max-width: 90px;
    height: 77px;
    float: right;
    position: absolute;
    right: 61px;
    top: 51px;
}
.service_title_blue_3 {
    margin: 26px;
    font-weight: 800;
    word-spacing: 400px;
    font-size: 36px;
    line-height: 1.4;
    padding-top: 176px;
}

.services_button {
    max-width: 200px;
    height: 48px;
    background-color: #5770EA;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.services_button_2 {
    max-width: 200px;
    height: 48px;
    background-color: #5770EA;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
}

.services_button_addlist {
    width: 100%;
    height: 48px;
    background-color: #5770EA;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
}

.services_button_addlist {
    width: 100%;
    height: 48px;
    background-color: #5770EA;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
}

.account_form {
    width: 100%;
    max-height: 48px;
    position: absolute;
    z-index: 1;
}

.addformlist_button {
    color: red;
    background-color: transparent;
}

.account_form_list {
    max-width: 920px;
    height: 495px;
}

.error-msg {
    font-size: 12px;
    padding-top: 10px;
    display: block;
    color: orangered;
}

.services_odul_1_text {
    width: 5090px;
    font-size: 178px;
    color: #F4F4EA;
    text-align: left;
    height: 249px;
    opacity: 1;
    font-family: 'Poppins';
    font-weight: bold;
}
.services_odul_1 {
    max-width: 416px;
    height: 476px;
    margin: 0 auto;
    margin-bottom: 175px;
}

.services_odul_2 {
    max-width: 416px;
    height: 476px;
    margin: 0 auto;
    margin-bottom: 175px;
}


@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #2A2B23;
    padding: 182px 0px 324px 0px;
}

.copyright_text {
    max-width: 1272px;
    max-height: 397px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin-left: 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #e27141;
}